:root {
  --color-black: #3D3D3D;
  --color-navy: #1B4697;
  --color-blue: #007FF8;
  --color-green: #06AC7B;
  --color-orange: #FF9900;
  --color-red: #EC1C1C;
  --color-grey: #727F8C;
  --color-cream: #F9F7F6;
  --color-light-blue: #ECF5FF;
  --color-light-green: #DBF4ED;
  --color-light-orange: #FFEED6;
  --color-light-red: #FFE0E0;
  --color-light-grey: #D5D5D5;
  --color-lighter-grey: #F5F5F5;
  --color-gradient: linear-gradient(83.78deg, #527DD0 3.08%, #01FF94 181.88%);
  --shadow: 0px 0px 24px #E8E8E8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(217deg, #DDECFA, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #FFEBE5, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, #FCF9F1, rgba(0,0,255,0) 70.71%);
  color: var(--color-black);
  height: 100vh;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  color: red;
}